body{
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    width: 100%;
    color: rgb(0, 0, 0);
    text-align: justify;
  }
  *{
    margin: 0;
    padding: 0;
  }
  article{
    width: 80%;
    background: #ffffff1a;
    padding: 30px 30px;
    margin: 20px 20px 20px 0;
    
  }
  .navbar{
    display: inline;
  }
   
    
  .navbar ul{
  
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    background-image: linear-gradient(to right, #3b0063, #a200ff, #00000070);
  
  }
  .navbar ul li{
    margin-bottom: 5px;
    padding: 10px;
    text-align: justify;
    display: inline-block;
    position:relative;
  
   
  }
  .navbar ul li a{
    display: block;
    color: white;
    text-align: justify;
    padding: 14px 16px;
    text-decoration: none;
  }
  .navbar ul li a:hover {
    background-color: #111;
   
  }
  .navbar ul li ul.dropdown li{
  display: block;
  }
  
  .navbar ul li ul.dropdown li a{
  font-size:10px
  }
  
  .navbar ul li ul.dropdown{
  width:100%;
  z-index: 999;
  display:none;
  }
  
  ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    background-color: #333;
  }
  
  li {
    float: left;
  }
  
  li a {
    display: block;
    color: white;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
  }
  
  
  .navbar ul li a:hover {
    background-color: #111;
  }
  
  .navbar ul li:hover ul.dropdown{
  display:block;
  }